@charset "utf-8";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
a,
samp,
strong,
blockquote,
dl,
dt,
dd,
ul,
ol, 
li,
pre,
form,
label,
table,
tbody,
tr,
th,
td,
img {
	border: 0 none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	 font-family: '', sans-serif;
	list-style-type: none;
	letter-spacing: 0px;

}

body {
	background: #fff;
	color: #383838;
	/*line-height: 25px;*/
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #383838;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0;
}


.container {
	margin: 0 auto !important;
	display: block;
}

.navbar-toggle .icon-bar {
	color: #777;
	background: #777
}

.padding100 {
	padding-bottom: 80px !important;
	clear: both;
	overflow: hidden;
}

.padding100_tb {
	padding-bottom: 80px !important;
	padding-top: 80px !important;
	clear: both;
	overflow: hidden;
}

.head {
	padding: 20px 0;
	clear: both;
	overflow: hidden;
}

.head_left {
	display: flex;
	align-items: center;
}

.head_left img {
	width: 45px;
	display: block;
}

.head_left span {
	padding-left: 20px;
	display: block;
	font-size: 22px;
	color: #383838;

}

.head_right .navbar-nav>li>a {
	font-size: 18px;
	color: #383838;
	font-weight: 500;
	padding: 0 15px;
}

.head_right .navbar-nav>li>a:hover {
	transform: translate(-2px, -2px);
	color: #efa459;
	text-shadow: 10px 0 10px #efa459
}

.head_right {
	padding-top: 25px;
}

.head_right .navbar-nav>li>a img {
	height: 25px;
	margin: 0 auto
}

.head_right .navbar {
	margin-bottom: 0;
	min-height: auto
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #fff;
}

/*animated background*/
/*
Background Gradients From -- 
https://uigradients.com
*/
.area {
	background: #fff;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height: 100vh;


}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(249, 160, 53, 0.3);
	animation: animate 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}



@keyframes animate {

	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 100%;
	}

}

/* .hi_there {
	font-family: 'Poppins', sans-serif;
}

span.hi_there i {
	font-size: 95px;
	font-family: 'Poppins', sans-serif;
}

span.summer_man i {
	color: #ef7320;
	font-size: 48px;
	font-family: 'Poppins', sans-serif;
}

span.hi_mantra i {
	font-size: 38px;
} */
.day .hi_there{
/* 	font-family: 'Poppins', sans-serif; */
}
.day span i{
	font-size: 64px;
	font-weight: 500;
/* 	font-family: 'Poppins', sans-serif; */
}
.day span.summer_man i{
	color: black;
	font-weight: bold;
	font-size: 64px;
/* 	font-family: 'Poppins', sans-serif; */
}
.day span.hi_mantra i{
	font-size: 40px;
	font-weight: 500;
}
.day .hi_mantra .bold i{
	font-weight: bold;
}

.index_describe p {
	display: block;
	line-height: 200%;
	letter-spacing: 0px;
	text-align: center;
	font-size: 48px;
	color: #383838;
	font-weight: bold;
}

.index_describe p span {
	font-size: 48px;
}

.h100 {
	height: 100vh
}

.head_right .navbar-nav>li>a .img_hover {
	display: none
}

.head_right .navbar-nav>li>a:hover .img_hover {
	display: block;
}

.head_right .navbar-nav>li>a:hover .img {
	display: none;
}

.index_column_li {
	width: 48%;
	display: inline-block;
	float: left;
	margin-bottom: 5%;
	position: relative;
}

.index_column_li img {
	width: 100%;
	display: block;
	height: 416px;
	opacity: 0.9;
}

.index_column_li:nth-child(2n-1) {
	margin-right: 2%;
}

.index_column_li:nth-child(2n) {
	margin-left: 2%;
}

/*.index_column_li:nth-child(5){
	margin-bottom: 0;
}
.index_column_li:nth-child(6){
	margin-bottom: 0;*/
}

.index_column_li a {
	display: block;
	position: relative;
}

.index_column_li_wz {
	position: absolute;
	top: 25px;
	left: 40px;
}

.index_column_li a .img_hover {
	display: none;
	transition: 0.5s;
}

.index_column_li a:hover .img_hover {
	transition: 0.5s;
	display: block;

}

.index_column_li a:hover .img {
	transition: 0.5s;
	display: none;

}

.index_column_li a .index_column_li_wz {
	color: #fff;
	display: none;
	transition: 1s;
}

.index_column_li a:hover .index_column_li_wz {
	transition: 1s;
	display: block;
	color: #fff;
	/*background-color: #777;*/

}

.index_column_li_wz .p1 {
	font-size: 30px;
}

.index_column_li_wz .p2 {
	font-size: 14px;
}

.index_column_li_wz .p2 span {
	display: inline-block;
	padding-right: 40px;
}

.index_column {
	clear: both;
	overflow: hidden;
}

.index_describe {
	cursor: pointer;
}

.index_describe i {
	transition: 1s;

	display: inline-block;
	font-style: initial;
	letter-spacing: 2px;
}

.index_describe i:hover {
	transition: 0.2s;
	bottom: 5px;
	position: relative;
}

.index_describe i:nth-child(1):hover {
	color: #ef7320
}

.index_describe i:nth-child(2):hover {
	color: #ff9f06
}

.index_describe i:nth-child(3):hover {
	color: #5bbfc7
}

.index_describe i:nth-child(4):hover {
	color: #ef7320
}

.index_describe i:nth-child(5):hover {
	color: #ff9f06
}

.index_describe i:nth-child(6):hover {
	color: #5bbfc7
}

.index_describe i:nth-child(7):hover {
	color: #ef7320
}

.index_describe i:nth-child(8):hover {
	color: #ff9f06
}

.index_describe i:nth-child(-n+100):hover {
	color: #ff9f06
}

footer {
	background: #fff3e6;
	/*opacity: 0.3;*/
	padding: 80px 0;
}

.footer_right p a img {
	width: 50px;
	height: 50px;
	display: block;
	transition: 1s;
	margin-bottom: 20px;
}

.footer_right p {
	text-align: right;
}

.footer_right p a {
	display: inline-block;
	margin-left: 10px;
}

.footer_right p a .img_hover {
	display: none
}

.footer_right p a:hover .img_hover {
	display: block;
}

.footer_right p a:hover .img {
	display: none;
}

.footer_left {
	font-size: 32px;
	color: #ef7320;
}


/*video*/
.video_frame {
	display: block;
	margin: 0 auto;
	width: 630px;
	height: 360px;

}

/*yifang_page*/
.fang_overview_bt {
	color: #EDAF2F;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;

}

/*chichat_page*/
/*.img-shadow {
  float:left;
  background: url(shadowAlpha.png) no-repeat bottom right !important;
  background: url(shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }*/
.project_title {
	margin-bottom: 30px;

}


.chat_head_img img {
	width: 100%;
	display: block;
	height: auto;
}

.chat_case p {
	padding-bottom: 20px;
}

.chat_case p:last-child {
	padding-bottom: 0
}

.chat_case p .span1 {
	display: inline-block;
	width: 200px;
	font-size: 18px;
}

.chat_case p .span2 {
	display: inline-block;
	font-size: 16px;
}

.chat_overview {
	background: #f7f5f6;
}

.chat_overview_bt {
	color: #722cb0;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;
}

.chat_overview_bt1 {
	color: #383838;
	font-size: 22px;
	padding-bottom: 30px;
}

.chat_overview_box_small {
	width: 50%;
	display: block;
	font-size: 18px;
	line-height: 150%;
	margin: 0 auto
}

.chat_overview_box {
	width: 80%;
	display: block;
	font-size: 18px;
	line-height: 150%;
	margin: 0 auto
}

.chat_case_box .p1 {
	font-size: 26px;
}

.chat_case_box .p2 {
	font-size: 16px;
}

.chat_case_box .p2 img {
	display: block;
	width: 100%;
}

.chat_target_box_left p {
	font-size: 16px;
	padding-bottom: 0;
}

.chat_target_box_left {
	padding-top: 30px;
	padding-right: 30px;
}

.chat_target_box_left p.p1 {
	padding-top: 30px;
}

.chat_target_box_left p span {
	font-size: 18px;
	font-weight: bold;
}

.chat_target_box_left p.p1 span {
	display: block;
}

.chat_persona_box_left img {
	display: block;
	margin: 0 auto;
	max-width: 250px;

}

.chat_persona_box_right .d2_left p {
	font-size: 16px;
	padding-bottom: 0;
}

.chat_persona_box_right .d2_left {
	padding-right: 20px;
}

.chat_persona_box_right .d2_left p span {
	font-size: 18px;
	font-weight: bold;
}

.chat_persona_box_right .d2 {
	margin: 20px 0;
	clear: both;
	overflow: hidden;
}

.chat_persona_box_right .d3 p span {
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding-bottom: 20px;
}

.chat_typical_box {
	padding-left: 10%;
}

.chat_overview_box img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.chat_keywords_box img {
	display: block;
	margin: 0 auto;
	height: 150px;
}

.chat_keywords_box span {
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
}

.chat_prototype_img img {
	display: block;
	margin: 0 auto;
	max-width: 100%
}

.chat_prototype_text .p1 {
	font-size: 26px;
	padding-bottom: 20px;
	position: relative;
	z-index: 99;
}

.chat_prototype_text .p1 text {
	position: relative;
	z-index: 999;
}

.chat_prototype_text {
	padding-top: 10%;
	margin-left: 25px;
}

.chat_prototype_text img {
	position: absolute;
	top: -60px;
	left: -40px;
	height: 140px;
	z-index: 9;
	max-height: initial;
	max-width: initial;
}

.chat_target_box {
	clear: both;
	overflow: hidden;
	padding-bottom: 100px;

}

.chat_target_box:last-child {
	padding-bottom: 0
}

.chat_face_1 {
	font-size: 30px;
}

.chat_face_2 {
	font-size: 22px;
}

.chat_face_3 {
	padding-top: 30px;
	font-size: 26px;
	font-weight: bold;
}

.chat_face_4 {
	font-weight: 600;
	font-size: 18px;
}

.chat_face_5 {
	font-size: 18px;
}

.chat_face_6 {
	padding-top: 30px;
	font-size: 22px;
	font-weight: bold;
}

.chat_face_7 {
	font-size: 18px;
	font-weight: 600;
}

.more_bt {
	text-align: center;
	font-size: 26px;
	font-weight: bold;

}

.chat_keywords_box {
	clear: both;
	overflow: hidden;
}


/*about*/

.about_box_left img {
	display: block;
	margin: 0 auto;
}

.about_box_left {
	padding-right: 5%
}

.about_box_right .p1 {
	font-size: 22px;
	color: #000;
	font-weight: 600;
}

.about_box_right .p2 {
	font-size: 16px;
	color: #383838;
	padding-top: 30px;
}

.about_box_right .p3 a {
	font-size: 16px;
	color: #78cdd4;
	text-decoration: underline;
	padding-bottom: 30px;
}

.about_box_right .p3 a:hover {
	color: #ff9f06;
}

.snappy_back_bt {
	color: #383838
}

.snappy_orange_bt {
	color: #e8851a
}

.airo2_bt {
	color: #078b40
}

.snappy_keywords_box span {
	font-size: 18px;
}

.snappy_keywords_box {
	margin-bottom: 50px;
}

.snappy_keywords_box .chat_keywords_box_li {
	padding: 0 4%;
}

.snappy_keywords_box .chat_keywords_box_li img {
	margin: 10px auto;
}

.snappy_keywords_box:last-child {
	margin-bottom: 0px;
}

.snappy_comments_box .p1 {
	font-size: 22px;
	color: #383838;
	font-weight: bold;
	padding-top: 30px;
}

.snappy_comments_box .p1:frist-child {
	padding-top: 0
}

.snappy_comments_box .p2 {
	font-size: 18px;
	color: #383838;
}


/*airo2*/
.airo2_box_t {
	font-size: 26px;
	padding: 20px 0;
}

.airo2_box_li_left {
	padding-top: 30px;
	font-size: 16px;
	padding-right: 5%;
}

.airo2_box_li {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.chat_overview_box {
	clear: both;
	overflow: hidden;

}

.airo2_img img {
	width: 100%
}

.airo2_four_li img {
	display: block;
	margin: 0 auto
}

.airo2_four_li {
	margin-top: 20px;
}

.airo2_img_center img {
	display: block;
	margin: 0 auto
}

/*morpheus*/
.morpheus_bt {
	color: #4562ec
}

.morpheus_members_li img {
	display: block;
	margin: 0 auto;
}

.morpheus_members_li span {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	color: #383838;
	display: block;
	padding-top: 20px;
}

/*airo2*/
.airo2_box_t {
	font-size: 26px;
	padding: 20px 0;
}

.airo2_box_li_left {
	padding-top: 30px;
	font-size: 16px;
	padding-right: 5%;
}

.airo2_box_li {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

.chat_overview_box {
	clear: both;
	overflow: hidden;

}

.airo2_img img {
	width: 100%
}

.airo2_four_li img {
	display: block;
	margin: 0 auto
}

.airo2_four_li {
	margin-top: 20px;
}

.airo2_img_center img {
	display: block;
	margin: 0 auto
}

/*morpheus*/

.morpheus_bt {
	color: #4562ec
}

.morpheus_research_large img {
	width: 100% !important;
	height: auto !important;
	margin-top: 5px;
}

.morpheus_research_large p span {
	text-align: left;
	margin-top: 250px;
}

.morpheus_members_li img {
	display: block;
	margin: 0 auto;

}

.morpheus_members_li span {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	color: #383838;
	display: block;
	padding-top: 20px;
}

.morpheus_members_li_left {
	padding-top: 0;
	padding-bottom: 20px;
}

.morpheus_research_li span {
	text-align: center;
	font-size: 22px;
	color: #383838;
	display: block;
	padding-top: 20px;
	margin-bottom: 20px;
}


.morpheus_research_li img {
	display: block;
	margin: 0 auto;
	height: 170px;
	width: auto;
}

.morpheus_concept_left {
	padding-right: 5%;
	font-size: 18px;
	color: #383838;
}

.morpheus_concept {
	display: flex;
	align-items: center;
}

.morpheus_box .p2 {
	font-size: 18px;
}


/*stamps*/
/*#stamps_mobile{
		color: #383838;
	}*/
.stamps_bt {
	color: #297b77
}

.stamps_box_li img {
	display: block;
	margin: 0 auto
}

.stamps_prototype {
	text-align: center;
	margin-top: 30px;
}

.stamps_prototype a {
	display: inline-block;
	padding: 1rem 3rem;
	background: #f79740;
	color: #fff;
	border-radius: 30px;
	font-size: 22px;
}

.stamps_prototype a:hover {
	background: #297b77
}

/*superhere*/
.superhere_prototype {
	text-align: center;
	margin-top: 30px;
}

.superhere_prototype {
	text-align: center;
	margin-top: 30px;
}

.superhere_prototype a {
	display: inline-block;
	padding: 1rem 3rem;
	background: #f79740;
	color: #fff;
	border-radius: 30px;
	font-size: 22px;
}

.superhere_prototype a:hover {
	background: #bd7fca
}

.superhere_bt {
	color: #bd7fca
}

.superhere_ul {
	clear: both;
	overflow: hidden;
	margin-bottom: 30px;
}

.superhere_ul .stamps_box_li p {
	display: flex;
	align-items: center;
	height: 500px;
	font-size: 16px;
	color: #383838
}


.head.active {
	position: relative;
	/*margin-top: -100px;*/
	transition: 2s;
}

.head {
	position: relative;
	margin-top: 0;
	transition: 2s;
}

.Top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9;
}

.Top a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #ff9f06;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
	border: 1px solid #ff9f06;
	opacity: 0.4;
}

.Top a .img {
	display: inline-block;
}

.Top a .img_on {
	display: none
}

.Top a:hover .img_on {
	display: inline-block;
	transition: 1s;
	opacity: 0.8
}

.Top a:hover .img {
	display: none
}

.Top a:hover {
	background: #fff;
	border: 3px solid #000;
	opacity: 0.6;
}

.Top a img {
	width: 1.8rem;
	height: 1.8rem;
	display: inline-block;
	margin: 0 auto;
}

/* sweet */
.sweet_w100 {
	width: 100%;
}

.sweet .chat_case p {
	padding-bottom: 5px;
}

.sweet .chat_overview_bt {
	color: #1f2333;
	padding-bottom: 20px;
}


.sweet .sweet_goal_bg {
	background: #1f2333;
}

.sweet .sweet_goal_bg .chat_overview_bt {
	color: black;
}

.sweet .sweet_goal_left {
	color: black;
	letter-spacing: 1px;
}

.sweet .sweet_goal_bg{
	background: #f6f7fc;
}
.sweet .sweet_goal_left p img{
	width: 50px;
	margin-right: 1rem;
}
.sweet .sweet_goal_left p{
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.sweet_user_lia {
	background: #000;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	padding: 30px 0;
}

.two_img .sweet_user_lia {
	background: none;
}

.sweet_user_lia .d1 img {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;

}

.sweet_user_lia:hover .d1 img {
	transition: 0.6s;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.sweet_user_lia .d1 {
	margin-bottom: 10px;
}

.sweet_user_lia .d2 {
	font-size: 16px;
	color: #fff;
	width: 200px;
	display: block;
	margin: 0 auto;
}

.sweet_user_lia .d3 {
	display: block;
	min-height: 60px;
	;
	margin: 0 auto;
	font-size: 14px;
	color: #ccc;
	width: 200px;
}

.sweet_img img {
	display: block;
	width: 100%;
}



.news_index_li {
	border-radius: 10px;
	padding: 3% 6%;
	background: #eee;
	clear: both;
	margin-bottom: 3%;
	overflow: hidden;
}

.news_index_li:nth-child(1) {
	background: #fceff7;
}

.news_index_li:nth-child(2) {
	background: #faf1e3;
}

.news_index_li:nth-child(3) {
	background: #e7edf6;
}

.news_index_li:nth-child(4) {
	background: #fcf3ea;
}

.news_index_li:nth-child(5) {
	background: #f2ecf9;
}
.news_index_li{
	background: #f6f7fc!important;
}
.news_index_li_right {
	padding-left: 5%;
}

.news_index_li_right .r2 img {
	width: 20px;
	margin-right: 2px;
}

.news_index_li_right .r1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 6%;
	color: #000;
}

.news_index_li_right .r2 {
	font-size: 18px;
	color: #333;
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.news_index_li_right .r3 {
	text-align: right;
	margin-top: 7%;
}

.news_index_li_right .r3 a {
	display: inline-block;
	border-radius: 40px;
	padding: 10px 40px;
	color: #fff;
	background: #000;
}

.news_index_li_right .r3 a:hover {
	opacity: 0.7;
}

.news_index_li_left img {
	width: 100%;
}





.xxk_tc {
	background: rgba(0, 0, 0, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.xxk_box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30rem;
	background: #fff;
	border-radius: 1rem;
	padding: 15px
}

.xxk_box input {
	height: 50px;
	line-height: 50px;
	width: calc(100% - 5px);
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	color: #000;
	font-size: 15px;
	outline: none;

	padding-left: 15px;
}

.xxk_box button {
	border: 0;
	margin: 15px auto;
	background: #333;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.xxk_box .d1_img img{
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	
}

.xxk_box button:hover {
	opacity: 0.9;
}
.sweet_user_lia{
	background: #f6f7fc;
}
.sweet_user_lia .d3{
	color: black;
}
.sweet_user_lia .d2{
	font-weight: bold;
	color: black;
	padding-bottom: 0.5rem;
}
.chat_goal_img img{
	width: 100%;
	display: block;
	margin-top: 1rem;
}

.sweet_goal_right_goal img{
	width: 70%;
	display: block;
	position: relative;
	margin-top: -10rem;
}

.sweet .sweet_goal_bg{
	overflow: initial;
}
.chat_overview_box{
	overflow: initial;
}
.yifang_res{
	background: #f6f7fc;
	padding: 5%;
	border-radius: 10px;
	margin:1rem 0;
}
.yifang_res_left img{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.yifang_res_right .p1{
	font-size: 20px;
	color: black;
	font-weight: bold;
	padding-bottom: 1rem;
}
.yifang_res_right .p2{
	font-size: 16px;
	color: black;
	
}
.yf_user_ul .sweet_user_li .sweet_user_lia img{
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.yf_user_ul .sweet_user_lia:hover .d1 img {
	transition: 0.6s;
	transform: scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform: scale(1.1);
}

.chat_goal_img.row div{
	padding: 1rem;
}



.echoflow .yf_goal .sweet_goal_right_goal img{
	margin-top: 0;
	padding-left: 5%;
}
.problem_icons_ul{
	margin-left: -1rem;
	margin-right: -1rem;
	width: calc(100% + 2rem);
}
.problem_icons_lis{
	background: #F6F7FC;
	border-radius: 1rem;
	padding: 1rem; 
	margin: 1rem;
}

.problem_icons_lis .problem_icons_lis_img img{
	width: auto;
	display: block;
	margin: 0 auto;
	height: 4rem;
}
.problem_icons_lis_text span{
	display: block;
	text-align: center;
	font-size: 0.8rem;
	color: #555555;
}
.problem_icons_lis_text span.text{
	font-weight: bold;
	font-size: 1rem;
	margin-top: 1rem;
	color: #000000;
}
.problem_icons_lis_text span.text1{
	min-height: 2.5rem;
	display: block;
}

.problem_how{
	background: #F6F7FC;
	border-radius: 1rem;
	padding: 1rem ;
	margin: 1rem 0;
	display: flex;
	align-items: center;
}
.problem_how_left{
	width: 6rem;
	padding-right: 1rem;
}
.problem_how_left img{
	display: block;
	width: 5rem;
	height: auto;
	margin: 0 auto;
}
.workflow{
	margin: 0;
}
.solutions_box .problem_how{
	margin-bottom: 7%;
}
.problem_how_right{
	flex: 1;
	color: #111827;
	font-size: 1.4rem;
}
.problem_how_right span{
	font-weight: bold;
}
.workflow_right{
	display: flex;
}
.workflow_left{ 
	font-size: 1.2rem;
	color: #000000;
}
.workflow_right .workflow_right_li{
	flex: 1;
}
 
.workflow_right .problem_icons_lis{
	margin: 0.5rem;
}
.solutions_li{
	margin: 2.5rem 0;
}
.solutions_li_left .text1{
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
}
.solutions_li_left .text2{
	font-size:1rem;
	color: #656565;
}
.solutions_li_right .text1{
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
}
.solutions_li_right .text2{
	font-size:1rem;
	color: #656565;
}
.solutions_li_left .img img{
	display: block;
	width: 100%;
}
.solutions_li_right{
	padding-left: 1.5rem;
}
.footer_icon span{
	display: inline-block;
	background: #E3E9EC;
	border-radius: 1rem;
	padding: 0.1rem 0.6rem;
	color: #596063;
	font-size: 0.8rem;
	margin-right: 1rem;
}
.more_ul h3{
	font-size: 1.3rem;
	color: #000;
	font-weight: 500;
}
.footer_more a{
	display: flex;
	color: #4A4BD7;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 12rem;
}
.more_ul .w50.p-8{
	position: relative;
}
.footer_more a img{
	width: 1.5rem;
	padding-left: 0.5rem;
	display: inline-block;
}
.footer_more a:hover{
	transition: 0.7s;
	right: 0;
}
.footer .text-\[40px\]{
	font-size: 30px;
}




@media(max-width: 768px) {
	.xxk_box{
		width: calc(100% - 30px);
	}
	.news_index_li_right {
		padding: 5% 0 0 0;
	}

	.news_index_li_left img {
		width: 60%;
		display: block;
		margin: 0 auto;
	}

	.news_index_li_right .r1 {
		font-size: 26px;
	}

	.news_index_li_right .r2 {
		font-size: 16px;
	}

	.two_img .sweet_user_lia {
		padding: 0;
	}

	.index_column_li_wz .p1 {
		font-size: 26px;
	}

	.index_column_li_wz .p2 {
		font-size: 12px;
	}

	.index_column_li_wz {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	span.summer_man {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	span.summer_man i {
		color: #ef7320;
		font-size: 26px !important;
	}

	/*span.summer_man{
    	margin-left: 25px;
    	right: 25px;
    }*/
	.index_describe p {
		font-size: 26px;
		letter-spacing: 0px;
	}

	.index_describe p span {
		margin-left: 35px;

		margin-right: 40px;
	}

	.hi_there {
		display: block;
	}

	.index_describe p span i {
		font-size: 42px;
		letter-spacing: 0px;
	}

	/*#stamps_mobile{
		color: #383838;
	}
	.morpheus_home{
		color: #fff;
	}
	#chichat_home{
		color:#383838;
	}*/
	.about_me {
		text-align: center;
		font-size: 32px;
		margin-top: 25px;
	}

	/* Add a pseudo element with the 
       text from attribute 'data-abbr' */
	.day {
		text-align: center;

	}

	.day[data-abbr]::after {
		content: attr(data-abbr);
		font-size: 32px;
		text-align: center;
		line-height: 2em;
		letter-spacing: 1px;
		font-weight: bold;
	}

	/* Hide the original label */
	.day>span {
		display: none;
	}

	.sj_scroll_xxlarge img {
		width: 1500px !important;
		display: block;
		max-width: initial;

	}

	.sj_scroll_xxlarge {
		overflow: auto;
		width: 100%;
	}

	.chat_d2_m {
		margin-top: 20px;
	}

	.project_title {
		margin-top: 25px;
		margin-bottom: 0px;

	}

	.the_container {
		display: flex;
		flex-direction: column-reverse;
	}

	.video_frame {
		display: block;
		margin: 0 0;
		width: 100%;
		height: auto;

	}

	.chat_prototype_text {
		margin-left: 0
	}

	.chat_overview_box_small {
		width: 80%;
		display: block;
		font-size: 18px;
		line-height: 150%;
		margin: 0 auto
	}

	.sj_scroll_xlarge img {
		width: 1200px !important;
		display: block;
		max-width: initial;

	}

	.sj_scroll_xlarge {
		overflow: auto;
		width: 100%;

	}

	.sj_scroll_large img {
		width: 900px !important;
		display: block;
		max-width: initial;

	}

	.sj_scroll_large {
		overflow: auto;
		width: 100%;
	}

	.sj_scroll {
		overflow: auto;
		width: 100%;
	}

	.sj_scroll img {
		width: 700px !important;
		display: block;
		max-width: initial;
	}

	.more_bt {
		padding-bottom: 50px;
	}

	.chat_target_box {
		padding-bottom: 50px;
	}

	.chat_keywords_box_li {
		margin-bottom: 20px;
	}

	.chat_typical_box {
		padding-left: 0
	}

	.chat_target_box_left {
		padding: 0 0 20px 0;
	}

	.chat_overview_box {
		width: 100%
	}

	.chat_head_img {
		margin-top: 20px;
	}

	.index_column_li:nth-child(2n-1) {
		margin-right: 0;
	}

	.index_column_li:nth-child(2n) {
		margin-left: 0;
	}

	.index_column_li:nth-child(n) {
		margin-bottom: 5%;
	}

	.index_column_li {
		width: 100%;
	}

	.index_column_li img {
		height: auto;
	}

	.padding100 {
		padding-bottom: 50px !important;
	}

	.padding100_tb {
		padding-bottom: 50px !important;
		padding-top: 50px !important;
		
		clear: both;
		overflow: hidden;
	}

	.index_describe {
		margin-top: 20%;
		margin-bottom: 120px;
	}

	.index_describe p {
		font-size: 32px;
		letter-spacing: 0px;
	}

	.navbar-toggle {
		margin-right: 0
	}

	.head_left span {
		display: none
	}

	.head_right {
		padding-top: 0;

	}

	.navbar-toggle .icon-bar {
		color: #383838;
		background: #383838;
	}

	.head_right .navbar-nav>li>a {
		padding: 15px 10px;
		color: #383838;
		text-align: center;
	}

	.head_left img {
		width: 40px;
	}

	.nav_img img {
		text-align: right;
		display: block;
		width: 25px;
	}

	/*.navbar{
		 width: 80%;
		 top: -50px;

	}*/
	.navbar-collapse {
		padding: 0;
		position: relative;
		right: -16px;
		top: -50px;
		background: #ffb878;
		opacity: 1;
		padding-bottom: 20px;
		z-index: 999999999;
		border-radius: 0 0 0 100px;
		width: 100%;
		height: 100vh;
	}

	.head {
		overflow: initial;
		padding: 0;
	}

	.navbar-nav {
		margin: 0;

	}

	.footer_right p {
		text-align: center;
	}

	.footer_left p {
		text-align: center;
		padding-bottom: 20px;
	}

	.d1 {
		margin-top: 20px;
	}

	.index_column_li a .index_column_li_wz {
		display: block;
		color: #fff;
	}

	.chat_prototype_text img {
		height: 90px;
		top: -30px;
		left: 0px;
	}
}

.banner_bot {
	padding-top: 10%;
}

.banner_bot img {
	width: 50px;
	display: block;
	margin: 0 auto
}

.arrow {
	-webkit-animation: bounce 1.75s infinite;
	animation: bounce 1.75s infinite;
	-webkit-transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
	transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
	transition: border 150ms ease-in-out, transform 300ms ease-in;
	transition: border 150ms ease-in-out, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.arrow:hover,
.arrow:focus {
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	10% {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	30% {
		-webkit-transform: translateY(-25%);
		transform: translateY(-25%);
	}

	40% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	}

	60% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	70% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	10% {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	30% {
		-webkit-transform: translateY(-25%);
		transform: translateY(-25%);
	}

	40% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	}

	60% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	70% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
